@model IEnumerable<WebApplication3.Models.roue.MainsOeuvre>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "moreServices";
}

<h1>More</h1>

<form>
    <div class="d-flex justify-content-between">
        <p class="position-fixed" style="left:10px; z-index:1">
            <a class="btn btn-secondary m-1" asp-controller="Pneu" asp-action="Index"><i class="bi bi-arrow-left"></i>Back</a>
        </p>
    </div>
</form>

@* partie services *@
<div class="noServices">
    <h2 class="titreservice">Nos Services</h2>
    <div class="lig">
        <hr class="barre" />
        <img src="~/asp/Steering Wheel.png" class="volan" />
        <hr class="barre" />
    </div>
    <div class="row justify-content-around">
        <div class="col-md-4">
            @foreach (var item in Model)
            {
                <div class="boxservice">
                    <div class="boxvoiture">
                        <img src="@item.image" class="imageboxservice" />
                        <div class="txt1">
                            <span> Montage de Pneus de @item.nom</span>
                            @if (!User.IsInRole("Admin"))
                            {
                                <span> quantité d’articles dans le pannier : @item.nombre</span>
                            }
                        </div>
                        <div class="txt2">
                            <div class="desc"> Mains d’oeuvre</div>

                            <div class="argent">@item.prix $</div>
                        </div>
                        <div class="panier">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                @if (User.IsInRole("Admin"))
                                {

                                    <a class="boutonB" asp-controller="Pneu" asp-action="EditServices" Asp-route-id="@item.Id" style="padding-top: 10px;">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <button class="buttonM d-flex gap-2 text-white">
                                            <i class="bi bi-pencil-square"></i> <span>Modifier</span>
                                        </button>
                                    </a>

                                    <a class="boutonB" asp-controller="Pneu" asp-action="DeleteServices" Asp-route-id="@item.Id" style="padding-top: 10px;">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <button class="buttonM d-flex gap-2 text-white" type="submit">
                                            <i class="bi bi-trash"></i>Delete
                                        </button>
                                    </a>
                                }
                                else
                                {
                                    <form class="boutonB" asp-controller="Pneu" asp-action="AddService" method="post">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <button class="buttonM">
                                            <a class="boutonA">
                                                <img src="~/asp/buy.png" alt="buy" />
                                                <span>Ajouter Au panier</span>
                                            </a>
                                        </button>
                                    </form>

                                    <form class="boutonB" asp-controller="Pneu" asp-action="removeService" method="post">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <button class="buttonM" type="submit">
                                            <a class="boutonA">
                                                <img src="~/asp/return purchase.png" />
                                                <span>retirer du panier</span>
                                            </a>
                                        </button>
                                    </form>
                                }
                            }
                            else
                            {
                                <form class="boutonB" asp-area="Identity" asp-page="/Account/Login">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <button class="buttonM">
                                        <a class="boutonA">
                                            <img src="~/asp/buy.png" alt="buy" />
                                            <span>Ajouter Au panier</span>
                                        </a>
                                    </button>
                                </form>

                                <form class="boutonB" asp-area="Identity" asp-page="/Account/Login">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <button class="buttonM" type="submit">
                                        <a class="boutonA">
                                            <img src="~/asp/return purchase.png" />
                                            <span>retirer du panier</span>
                                        </a>
                                    </button>
                                </form>
                            }
                        </div>

                    </div>

                </div>
            }
            @if (User.IsInRole("Admin"))
            {

                <div class="d-flex justify-content-evenly" style="width:100%">
                    <form class="boutonB" asp-controller="pneu" asp-action="moreServices">
                        <button class="buttonM">
                            <a class="boutonA">
                                <span>Voire d'autre service</span>
                            </a>
                        </button>
                    </form>
                    <a class="boutonB" asp-controller="Pneu" asp-action="CreateServices" style="padding-top: 10px;">
                        <i class="bi bi-plus"></i> <span>Ajouter un service</span>
                    </a>
                </div>
            }
        </div>
    </div>
</div>